HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.class
.*jar
.*war
.*ear

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

### Sistemas Operativos ###
# Para Linux
*~
.directory
# Para macOS
.DS_Store
.AppleDouble
.LSOverride
# Para windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msm
*.msp
*.msix

### Seguridad y Credenciales ###
.env
.env.local
.env.*.local
**/application-local.properties
application-dev.properties
application-dev.yml
application-secret.properties
application-secret.yml
secrets/
### Logs y Reportes de Crash de Java ###
*.log
hs_err_pid*
replay_pid*
